<%- include('header'); -%>

<div>


<div class="d-flex bg-info mx-5 align-items-end rounded">

<img src="../images/teacher11.jpg" alt="" class="rounded-circle pl-4 py-2">
<div class="ml-5 flex-1">
  <h3>Suraj Kumar</h3>
  <h5>Senior Developer</h5>
</div>
<div class="ml-5 flex-1">
  <h3>Mathematics</h3>
</div>

</div>

<hr>
<!-- ------------------------------------------------------------------------------------ -->

<div class="d-flex bg-info mx-5 align-items-end rounded">

<img src="../images/teacher22.jpg" alt="" class="rounded-circle pl-4 py-2">
<div class="ml-5 flex-1">
  <h3>Mukul Singh</h3>
  <h5>Assistant Professor</h5>
</div>
<div class="ml-5 flex-1">
  <h3>Core Java</h3>
</div>

</div>

 <hr>
<!--     ---------------------------------------------------------------------------------- -->

<div class="d-flex bg-info mx-5 align-items-end rounded">

<img src="../images/teacher3.jpg" alt="" class="rounded-circle pl-4 py-2">
<div class="ml-5 flex-1">
  <h3>Shrishti Goswami</h3>
  <h5>Professor</h5>
</div>
<div class="ml-5 flex-1">
  <h3>Artificial Inteligence</h3>
</div>

</div>



</div>



<%- include('footer'); -%>
