<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Styles</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

  <link rel="stylesheet" href="style.css">
</head>




  <body>
<div>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #81C8FF; display: fixed;  position: fixed;  width: 100%; z-index: 1;">
    <div style="margin-right: 55%; margin-left: 4%;">
      <a class="navbar-brand" href="#"><h1><strong>Amity</strong></h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fee">Fee Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/courses">Result</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/attendance">My Attendance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faculty">My Faculty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/log-out">Log-out</a>
        </li>
      </ul>
    </div>
  </nav>



</div>

<div class="height">

</div>
