<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Styles</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

  <link rel="stylesheet" href="style.css">
</head>




  <body>

<div class="home-background">


<div align="center" class="home-content">


<div class="sign-in-form">
<!--  change home to signin  -->



    <form class="form-signin" method="post" action="/sign-up">




          <img class="amity-logo" src="images/amity-logo.jpg" alt="">
          <hr>
          <h1 class="h3 mb-3 font-weight-normal">Add a Student</h1>
          <hr>
        <div class="row">
          <input name="username" type="username" id="inputEmail" class="form-control col-5 mr-1 mb-2" placeholder="Email address" required="" autofocus="">

          <input name="password" type="password" id="inputPassword" class="form-control col-5" placeholder="Create Password" required="">

          <input name="fname" type="text" class="form-control col-5 mr-1 mb-2" placeholder="First Name" required="" autofocus="">

          <input name="lname" type="text" class="form-control col-5" placeholder="Last Name" required="" autofocus="">

          <select name="course" style="width: 80px;" class="col-3">
          <option value="mca">MCA</option>
          <option value="mba">MBA</option>
          <option value="mtech">MTech</option>
          </select>
        </div>
          <div class="sign-in-button mt-4">
                <button class="btn btn-md btn-primary btn-block" type="submit"><h6>Confirm</h6></button>
          </div>



        <div style="Height: 500px;">

        </div>




  </form>

</div>





</div>

</div>






<%- include('footer'); -%>
