.home-background{
  background-image: url('images/home.jpg');
  opacity: 88%;
}

h6{
  line-height: 1;
}

.notice-div{
  background-color: #F2E3D5;
  max-width: 250px;
}

.notice-input{

  height: 40px;
  width: 170%;
}


.nav-style{
  background-color: #81C8FF;
   display: fixed;
    position: fixed;
    width: 100%;
    z-index: 1;
}

strong{
  font-weight: bold;
}

.flex{
  display: flex;
}

.flex-together{
  justify-content: space-around;
}

.collapse ul a{
  font-size: 1.2rem;
}

.collapse ul li{
  margin-right: 10px;
}

.sign-in-form{
  text-align: center;
  width: 35%;
  height: 100%;
  padding-top: 10%;
}

.height{
  height: 100px;
}


.amity-logo{
  border-radius: 35%;
}

.sign-in-button{
  width: 30%;
  margin:auto;
}

hr{
  visibility: hidden;
  border: none;
}

*{
  line-height: 0;
  font-family: sans-serif;
}

/* Home page styling */


.flex-container{
  margin: auto;
  width: 65%;
display: flex;
justify-content: space-between;
}

.container{
  margin: auto;
  width: 65%;
}

.flex-div{
  border-radius: 3%;
  width: 350px;
  height: 150px;
}

.Attendance-div{
  background-color: #3EDBBC;
}

.fee-div{
background-color: #FF7088;
}

.details-div{
background-color: #60AAFF;
}

.flex-div h3{
  color: white;
}

.flex-div strong{
  font-weight: bold;
}


header{
  border-radius: 10px 10px 0 0;
}


.message-div{
  background-color: #E7E7E7;
  height: 400px;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
}

.message-div h5{
  font-size: 1.2rem;
}



/* Attendance page styling */

.attendance-page-div{
  width: 50vw;
  height: 25vh;
  background-color: #E7E7E7;
  margin: auto;
  border-radius: 20px;
}






*{
font-family: 'PT Serif', serif;
}






#footer{
  position: absolute;
  /* bottom:0; */
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
   margin-top: 400px;
}

.footer-mid{
  margin: 0 10%;

}


#footer h1{
  color: white;
}
#footer h2{
  color: white;
}
#footer h3{
  color: white;
}
#footer h4{
  color: white;
}
#footer h5{
  color: white;
}
#footer h6{
  color: white;
}
